---
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";
import "../../style/global.css";
import "../../style/glass-box.css";
import ProfileIllustrarion from "../../components/ProfileIllustrarion.astro";
import Copyright from "../../components/Copyright.astro";
---

<Layout title="Nikaidou Haruki's blog">
	<Header />
	<div style="height: 5rem;"></div>
	<div class="box main-container">
		<ProfileIllustrarion />
		<div class="name">
			<h3>二階堂春希</h3>
			<p class="text-sm">にかいどう はるき</p>
			<p class="text-sm">
				原型来自《転校先の清楚可憐な美少女が、昔男子と思って一緒に遊んだ幼馴染だった件》
			</p>
			<p class="text-sm">并非因为是老婆所以用了，而是喜欢作品。</p>
			<p class="text-sm">恭喜原作小说动画化企划启动！</p>
		</div>
		<div id="intro" class="borderd">
			<p class="text-sm">bio</p>
			<p>
				一个爱好数学和计算机的普通人，喜欢学习各类知识，立志成为计算机科学家。
			</p>
			<p class="divider"></p>
			<p>
				山雨欲来风满楼，故攻八面以铸无双。<br>孤战非所望，俗安不可期。
			</p>
			<p class="text-sm">
				大致翻译：因为时局动荡，不得不广泛学习各类知识，以出类拔萃，从而成功逃亡。我所希望的并非是孤军奋战，只不过无法获得平凡人的幸福罢了。
			</p>
			<p class="divider"></p>
			<p>
				自由主义，神道信仰。
			</p>
		</div>
		<div id="knowledge" class="borderd">
			<h3>
				知识收藏家
			</h3>
			<p>我喜欢广泛学习各种知识，我相信知识足够广时定能带来惊喜。（事实上确实有，有的交叉学科只有我这种程度的能研究）</p>
			<p>
				已收集的知识：
			</p>
			<ul>
				<li>
					数学：普通研究生程度
				</li>
				<li>
					应用数学：普通研究生程度
				</li>
				<li>
					计算机科学：普通研究生程度
				</li>
				<li>
					软件工程：高级Web开发工程师
				</li>
				<li>
					电子工程：一般大三学生程度
				</li>
				<li>
					工商管理：较优秀大三学生程度
				</li>
				<li>
					财会：一般大三学生程度
				</li>
				<li>
					心理学：本科能毕业程度（这玩意真的有用吗）
				</li>
				<li>
					生物：一般大二学生程度
				</li>
				<li>
					无机化学：一般大二学生程度
				</li>
				<li>
					文学：足够进行基本的创作
				</li>
				<li>
					哲学：够用
				</li>
				<li>
					美术：UI设计够用
				</li>
			</ul>
		</div>
		<div id="programming-skills" class="borderd">
			<h3>
				技能
			</h3>
			<p>
				精通
			</p>
			<p class="icons">
				<img src="/icons/ts.svg" loading="lazy"/>
				<img src="/icons/js.svg" loading="lazy"/>
				<img src="/icons/react.svg" loading="lazy"/>
				<img src="/icons/nextjs.svg" loading="lazy"/>
				<img src="/icons/expressjs.svg" loading="lazy"/>
				<img src="/icons/css3.svg" loading="lazy"/>
				<img src="/icons/tailwindcss.svg" loading="lazy"/>
				<img src="/icons/html5.svg" loading="lazy"/>
				<img src="/icons/adobe-illustrator.svg" loading="lazy"/>
				<img src="/icons/adobe-ae.svg" loading="lazy"/>
				<img src="/icons/mongodb.svg" loading="lazy"/>
			</p>
			<p class="divider"></p>
			<p>
				熟练
			</p>
			<p class="icons">
				<img src="/icons/solidjs.svg" loading="lazy"/>
				<img src="/icons/kubuntu.svg" loading="lazy"/>
				<img src="/icons/cpp.svg" loading="lazy"/>
				<img src="/icons/openwrt.svg" loading="lazy"/>
				<img src="/icons/adobe-ps.svg" loading="lazy"/>
				<img src="/icons/redis.svg" loading="lazy"/>
				<img src="/icons/postgresql.svg" loading="lazy"/>
			</p>
			<p class="divider"></p>
			<p>
				会用
			</p>
			<p class="icons">
				<img src="/icons/rust.svg" loading="lazy"/>
				<img src="/icons/python.svg" loading="lazy"/>
				<img src="/icons/pytorch.svg" loading="lazy"/>
				<img src="/icons/docker.svg" loading="lazy"/>
				<img src="/icons/k8s.svg" loading="lazy"/>
				<img src="/icons/electron.svg" loading="lazy"/>
				<img src="/icons/java.svg" loading="lazy"/>
				<img src="/icons/spring.svg" loading="lazy"/>
				<img src="/icons/svelte.svg" loading="lazy"/>
				<img src="/icons/multisim.svg" loading="lazy"/>
				<img src="/icons/opengl.svg" loading="lazy"/>
				<img src="/icons/figma.svg" loading="lazy"/>
				<img src="/icons/solidity.svg" loading="lazy"/>
				<img src="/icons/mathematica.svg" loading="lazy"/>
				<img src="/icons/minio.svg" loading="lazy"/>
				<img src="/icons/kafka.svg" loading="lazy"/>
				<img src="/icons/trpc.svg" loading="lazy"/>
				<img src="/icons/vim.svg" loading="lazy"/>
				<img src="/icons/bash.svg" loading="lazy"/>
			</p>
			<p class="divider"></p>
			<p>
				也不是不能用
			</p>
			<p class="icons">
				<img src="/icons/vue.svg" loading="lazy"/>
				<img src="/icons/kotlin.svg" loading="lazy"/>
				<img src="/icons/nixos.svg" loading="lazy"/>
				<img src="/icons/tensorflow.svg" loading="lazy"/>
				<img src="/icons/c4d.svg" loading="lazy"/>
				<img src="/icons/jquery.svg" loading="lazy"/>
				<img src="/icons/php.svg" loading="lazy"/>
				<img src="/icons/qt.svg" loading="lazy"/>
				<img src="/icons/altium-designer.svg" loading="lazy"/>
				<img src="/icons/r-lang.svg" loading="lazy"/>
				<img src="/icons/go.svg" loading="lazy"/>
			</p>
		</div>
		<div id="said" class="borderd">
			<h3>
				曾经说过的话
			</h3>
			<p>
				山雨欲来风满楼，故攻八面以铸无双。孤战非所望，俗安不可期。
			</p>
			<p class="text-sm text-right">
				2023 年 12 月 4 日
			</p>
			<p class="divider"></p>
			<p>
				世界的可能性组成了一个向量场。我们的选择让我们沿着一个流形行走，这就是所谓人生的轨迹。
			</p>
			<p class="text-sm text-right">
				2023 年 8 月 26 日
			</p>
			<p class="divider"></p>
			<p>
				已摘到的最高的星只会越来越高，已闯过的最深的谷只会越来越深。因此总是追求更美好的未来，又为迎击深渊做好最坏的准备。
			</p>
			<p class="text-sm text-right">
				2023 年 1 月 3 日
			</p>
		</div>
	</div>
	<Copyright />
</Layout>

<style>
	.main-container {
		padding: 1rem;
		max-width: 75rem;
		margin: 1rem auto;
		display: grid;
		align-items: center;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		gap: .75rem;
		background-color: #ffd6d475;
		backdrop-filter: blur(30px);
	}

	.main-container div {
		box-sizing: border-box;
	}

	.main-container > div {
		padding: .75rem;
	}

	.main-container > div p {
		margin-bottom: 0.25rem;
	}

	.borderd {
		border: 1px solid #724b52;
		border-radius: .5rem;
	}

	#intro {
		padding: .75rem;
		box-sizing: border-box;
		min-height: 18rem;
	}

	#intro > p {
		margin-bottom: .5rem;
	}
	#knowledge p {
		margin: 0.5rem 0;
	}
	@media (min-width: 40rem) {
		.main-container {
			grid-template-columns: repeat(2, 1fr);
		}
		#intro {
			grid-column: span 2;
			min-height: 16rem;
		}
		#programming-skills {
			grid-column: span 2;
		}
		#knowledge {
			grid-column: span 2;
		}
	}

	@media (min-width: 65rem) {
		.main-container {
			grid-template-columns: repeat(3, 1fr);
		}
		#intro {
			grid-column: span 1;
			height: 100%;
		}
		#knowledge {
			grid-column: span 1;
			grid-row: span 2;
			height: 100%;
		}
	}

	.divider {
		width: 100%;
		border-bottom: 1px solid #724b52;
		height: 0;
		margin: .5rem 0;
	}

	#programming-skills > p {
		margin-top: .5rem;
	}

	#programming-skills img {
		height: 1.25rem;
	}

	#programming-skills .icons {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: .5rem;
	}

	li {
		margin-left: 2rem;
	}
</style>
