---
import ArticleCard from '../components/ArticleCard.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import '../style/global.css';
import '../style/glass-box.css';
---

<Layout title="Nikaidou Haruki's blog">
	<Header />
    <div class="c-blank-5em"></div>
    <main id="articles-display">
		<ArticleCard 
			href='blog/cn/how-fgo-player-plays-ba'
			title='FGO 玩家是怎么玩碧蓝档案的'
			discribe='作为前 FGO 玩家，在碧蓝档案中延续传统技巧：打轴、叠 buff 、算极限伤害。'
		/>
		<ArticleCard
			href='blog/cn/install-nvidia-driver-on-esxi-vm'
			title='在 Debian 虚拟机中安装 NVIDIA 显卡驱动'
			discribe='尝试在 ESXi 虚拟出的 Debian 系统中，安装 NVIDIA 显卡驱动。遇到了几个问题，并且最终找到了解决方案。'
		/>
		<ArticleCard
			href='blog/cn/proxy-user-select-model'
			title="机场用户选择套餐的数学建模"
			discribe='为一个机场建立数学模型，模拟用户的选择情况。并且，给出了参数估计和降低成本的方案。'
		/>
		<ArticleCard
			href='blog/cn/electrical-engineering'
			title="电子工程教程"
			discribe='（未完成）全面的电子工程教程，使用生成树学习法组织。范围包含电子工程专业本科不挂科到电赛生需要学的内容。'
		/>
        <!--
            <div class="article box">
            <h2>
                <a href="./articles/03/index.html">An introductory computer tutorial that anyone can understand</a>
            </h2>
            <p>
                This is a series of tutorials designed for Chinese people who lack general computer knowledge.
            </p>
        </div>
        -->
    </main>
</Layout>

<style>
	main {
		font-family: Arial, Helvetica, sans-serif;
		box-sizing: border-box;
	}

	#articles-display {
		max-width: 85rem;
		box-sizing: border-box;
		display: grid;
		align-items: baseline;
		margin: 1rem auto;
		padding: 0 1rem;
		grid-gap: 0.75rem;
		grid-template-columns: repeat(1, 1fr);
	}

	@media (min-width: 40rem) {
		#articles-display {
        	grid-template-columns: repeat(2, 1fr);
    	}
	}	

	@media (min-width: 60rem) {
		#articles-display {
        	grid-template-columns: repeat(3, 1fr);
    	}
	}

	@media (min-width: 80rem) {
		#articles-display {
        	grid-template-columns: repeat(4, 1fr);
    	}
	}

	.article h2 {
		margin-bottom: 1em;
	}

	.article a {
		text-wrap: wrap;
		color: #a72e42;
	}
</style>
