---
import ArticleCard from '../components/ArticleCard.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import '../style/global.css';
import '../style/glass-box.css';
---

<Layout title="Nikaidou Haruki's blog">
	<Header />
    <div class="c-blank-5em"></div>
    <main id="articles-display">
		<ArticleCard 
			href='blog/cn/how-fgo-player-plays-ba'
			title='How Does FGO Player Play Blue Archive'
			discribe='This is a Chinese post. Talking about the method to calculate the damage, to gather buffs and to arrange time ticks.'
		/>
		<ArticleCard
			href='blog/cn/install-nvidia-driver-on-esxi-vm'
			title='Install Nvidia Driver on ESXi Debian VM'
			discribe='This is a Chinese post. I attemptd to install Nvidia driver on a Debian virtual machine, faced some issues and succeed.'
		/>
		<ArticleCard
			href='blog/en/math-captcha'
			title='Math CAPTCHA js lib'
			discribe='A Node.js server lib, which can generate simple math problems to do CAPTCHA'
		/>
        <!--
            <div class="article box">
            <h2>
                <a href="./articles/03/index.html">An introductory computer tutorial that anyone can understand</a>
            </h2>
            <p>
                This is a series of tutorials designed for Chinese people who lack general computer knowledge.
            </p>
        </div>
        -->
    </main>
</Layout>

<style>
	main {
		font-family: Arial, Helvetica, sans-serif;
		width: 100%;
	}

	#articles-display {
		display: flex;
		flex-direction: row;
		align-items: baseline;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.article.box {
		min-width: 15em;
		max-width: 30em;
		overflow: hidden;
		padding: 1rem;
		box-sizing: border-box;
		min-height: 10em;
		margin: 0.75rem;
		backdrop-filter: blur(10px);
	}

	.article h2 {
		margin-bottom: 1em;
	}

	.article a {
		text-wrap: wrap;
		color: #a72e42;
	}
</style>
