---
import ArticleCard from '../components/ArticleCard.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import '../style/global.css';
import '../style/glass-box.css';
---

<Layout title="Nikaidou Haruki's blog">
	<Header />
    <div class="c-blank-5em"></div>
	<div class="profile box">
		<div>
			<div class="profile-illustration">
				<img src="/blog-haruki.svg"/>
			</div>
			<div class="profile-text">
				<div class="profile-name">
					<h3>
						二階堂春希
					</h3>
					<p class="text-sm">にかいどう はるき</p>
					<p class="text-sm">
						原型来自《転校先の清楚可憐な美少女が、昔男子と思って一緒に遊んだ幼馴染だった件》
					</p>
					<p class="text-sm">并非因为是老婆所以用了，而是喜欢作品。</p>
				</div>
				<p class="text-sm">
					一个爱好数学和计算机的普通人，喜欢学习各类知识，立志成为计算机科学家。自由主义，神道信仰。
				</p>
				<p>
					山雨欲来风满楼，故攻八面以铸无双。<br/>孤战非所望，俗安不可期。
				</p>
				<p class="text-sm">
					我觉得上面那段文言文不难懂，所以就不翻译了。
				</p>
				<p class="text-sm">
					博客用的是 Astro 作为框架，左边（上面）那个图是我画的svg.
				</p>
			</div>
		</div>
	</div>
    <main id="articles-display">
		<ArticleCard 
			href='blog/cn/how-fgo-player-plays-ba'
			title='FGO 玩家是怎么玩碧蓝档案的'
			discribe='作为前 FGO 玩家，在碧蓝档案中延续传统技巧：打轴、叠 buff 、算极限伤害。'
		/>
		<ArticleCard
			href='blog/cn/install-nvidia-driver-on-esxi-vm'
			title='在 Debian 虚拟机中安装 NVIDIA 显卡驱动'
			discribe='尝试在 ESXi 虚拟出的 Debian 系统中，安装 NVIDIA 显卡驱动。遇到了几个问题，并且最终找到了解决方案。'
		/>
		<ArticleCard
			href='blog/cn/proxy-user-select-model'
			title="机场用户选择套餐的数学建模"
			discribe='为一个机场建立数学模型，模拟用户的选择情况。并且，给出了参数估计和降低成本的方案。'
		/>
		<ArticleCard
			href='blog/cn/all-you-need-is-dag'
			title="浅谈基于DAG Rider的图算法"
			discribe='解读知名论文 All you need is DAG. 忽略其中区块链专用的部分，简单说一说为什么有向无环图共识性能那么高。（未完成）'
		/>
		<ArticleCard 
			href='blog/cn/large-galgame-resource-site-manage'
			title='关于运营大型 Galgame 资源站的一些想法'
			discribe='终点已死，大多数 galgame 资源站都关站避风头。要一个足够强大的资源站。这是一些想法，希望对有运营资源站想法的人能够起到帮助。'
		/>
		<ArticleCard 
			href='blog/cn/luxon-project'
			title='抗转生的备份 - 鲁克西翁计划'
			discribe='在中国，因为政治问题遭遇调查取证等危险时，有必要丢掉一切，并在安全后重新获得。鲁克西翁是《女性向游戏世界对路人角色很不友好》中的一艘遗产飞船，计划因与小说剧情有相似性得名。'
		/>
    </main>
</Layout>

<style>
	main {
		font-family: Arial, Helvetica, sans-serif;
		box-sizing: border-box;
	}

	#articles-display {
		max-width: 85rem;
		box-sizing: border-box;
		display: grid;
		align-items: baseline;
		margin: 1rem auto;
		padding: 0 1rem;
		grid-gap: 0.75rem;
		grid-template-columns: repeat(1, 1fr);
	}

	@media (min-width: 40rem) {
		#articles-display {
        	grid-template-columns: repeat(2, 1fr);
    	}
	}	

	@media (min-width: 60rem) {
		#articles-display {
        	grid-template-columns: repeat(3, 1fr);
    	}
	}

	@media (min-width: 80rem) {
		#articles-display {
        	grid-template-columns: repeat(4, 1fr);
    	}
	}

	.article h2 {
		margin-bottom: 1em;
	}

	.article a {
		text-wrap: wrap;
		color: #a72e42;
	}

	.profile {
		max-width: 83rem;
		width: calc(100vw - 2rem);
		box-sizing: border-box;
		margin: 0 auto;
	}

	.profile > div {
		max-width: 64rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 auto;
	}

	@media (max-width: 60rem) {
		.profile > div {
			flex-direction: column;
			align-items: center;
		}
		.profile .profile-text {
			width: calc(100% - 2rem);
		}
	}

	.profile-illustration {
		overflow: hidden;
		min-height: 20rem;
	}

	.profile-illustration img {
		height: 20rem;
		padding-right: 1rem;
		float: right;
	}
	
	.profile-text {
		padding: 1rem;
		width: calc(50% - 4rem);
	}

	.profile-text .text-sm {
		font-size: 0.75rem;
	}

	.profile-text > * {
		margin-bottom: 0.75rem;
	}
</style>
