---
import ArticleCard from '../components/ArticleCard.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import '../style/global.css';
import '../style/glass-box.css';
---

<Layout title="Nikaidou Haruki's blog">
	<Header />
    <div class="c-blank-5em"></div>
    <main id="articles-display">
		<ArticleCard 
			href='blog/cn/how-fgo-player-plays-ba'
			title='FGO 玩家是怎么玩碧蓝档案的'
			discribe='作为前 FGO 玩家，在碧蓝档案中延续传统技巧：打轴、叠 buff 、算极限伤害。'
		/>
		<ArticleCard
			href='blog/cn/install-nvidia-driver-on-esxi-vm'
			title='在 Debian 虚拟机中安装 NVIDIA 显卡驱动'
			discribe='尝试在 ESXi 虚拟出的 Debian 系统中，安装 NVIDIA 显卡驱动。遇到了几个问题，并且最终找到了解决方案。'
		/>
        <!--
            <div class="article box">
            <h2>
                <a href="./articles/03/index.html">An introductory computer tutorial that anyone can understand</a>
            </h2>
            <p>
                This is a series of tutorials designed for Chinese people who lack general computer knowledge.
            </p>
        </div>
        -->
    </main>
</Layout>

<style>
	main {
		font-family: Arial, Helvetica, sans-serif;
		width: 100%;
	}

	#articles-display {
		display: flex;
		flex-direction: row;
		align-items: baseline;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.article.box {
		min-width: 15em;
		max-width: 30em;
		overflow: hidden;
		padding: 1rem;
		box-sizing: border-box;
		min-height: 10em;
		margin: 0.75rem;
		backdrop-filter: blur(10px);
	}

	.article h2 {
		margin-bottom: 1em;
	}

	.article a {
		text-wrap: wrap;
		color: #a72e42;
	}
</style>
