.c-blank-5em {
    height: 5em;
}

.box {
    background-color: #ffd3d965;
    transition-duration: 0.7s;
    box-shadow: 5px 5px 10px rgba(53, 33, 37, 0.3);
    border-bottom: solid 1px #816967;
    border-radius: 1rem;
    backdrop-filter: blur(3px);
}

.box:hover {
    background-color: #ffd6d4c9;
}

.line-center {
    display: flex;
    justify-content: center
}

.line-height-2em {
    line-height: 2em;
}

math.big-math-15 {
    font-size: 150%;
}
math.big-math-12 {
    font-size: 125%;
}