---
import Kb256Banner from "./Kb256Banner.astro";

---

<footer id="copyright">
    <p>
        <span property="dct:title">&copy; Copyright by </span>
        <span
            property="cc:attributionName">Nikaidou Haruki</span
        >
         |
        <a
            href="http://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1"
            target="_blank"
            rel="license noopener noreferrer"
            style="display:inline-block;"
        >
            CC 署名-非商业性使用 4.0
        </a>
    </p>
    <p class="banners">
        <img height="20px" src="/astro.svg" loading="lazy" />
        <img height="20px" src="/cloudflare-page.svg" loading="lazy" />
        <img height="20px" src="/cloudflare.svg" loading="lazy" />
        <Kb256Banner />
        <a href="http://jigsaw.w3.org/css-validator/check/referer">
            <img style="border:0;height:28px"
                src="http://jigsaw.w3.org/css-validator/images/vcss"
                alt="Valid CSS!" />
        </a>
    </p>
</div>

<style>
    #copyright {
        background-color: #fcd6db81;
        padding-top: 0.5rem;
        padding-bottom: 1.25rem;
        font-size: 0.75rem;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin-top: 4rem;
        backdrop-filter: blur(30px);
        border-top: solid 1px #816967;
        border-radius: .75rem .75rem 0 0;
    }

    #copyright a {
        color: brown;
    }

    #copyright p {
        max-height: 2rem;
    }

    .banners {
        height: 1.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        margin-top: .25rem;
    }

    .banners * {
        max-height: 1.5rem
    }
</style>
