<a title="250KB Club page" href="https://250kb.club/blog-plr-moe">
    <img
        alt="badge: proud member of the 250KB Club"
        src="/color_badge_dark.png"
    />
</a>

<style>
    a {
        height: 80%;
    }

    img {
        height: 100%;
    }
</style>