<span class="kb-club">
    <a target="blank" href="https://512kb.club"
        ><span class="kb-club-no-bg">512KB Club</span><span class="kb-club-bg"
            >Blue Team</span
        ></a
    >
</span>

<style>
    .kb-club a {
        text-decoration: none;
        color: #212121;
        font-weight: bold;
        padding: 0.25rem 0;
        font-family: sans-serif;
        transition: 0.4s;
    }

    .kb-club a:hover {
        background: #bbdefb;
    }

    .kb-club-bg,
    .kb-club-no-bg {
        border: 2px solid #64b5f6;
        padding: 0.25rem 0.5rem;
    }

    .kb-club-bg {
        background: #64b5f6;
        color: #212121;
    }
</style>
