<div class="profile-illustration">
    <img src="/blog-haruki.svg"/>
</div>

<style>
    .profile-illustration {
		overflow: hidden;
		min-height: 20rem;
	}

	.profile-illustration img {
		height: 20rem;
		padding-right: 1rem;
		float: right;
	}
</style>