---
import type { MarkdownLayoutProps } from 'astro';
import '../style/global.css'
import Header from '../components/Header.astro';

type Props = MarkdownLayoutProps<{
    title: string,
    description: string,
    language: 'en' | 'zh',
    enableKatex?: boolean
}>

const {title, description, language, enableKatex} = Astro.props.frontmatter;

---

<!doctype html>
<html lang={language}>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        {enableKatex? <link href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css" rel="stylesheet"> : ''}
        <title>{`${title} - Haruki's Blog`}</title>
    </head>
    <body>
        <Header />
        <div style="height: 5rem;"></div>
        <article>
            <h1>{title}</h1>
            <slot />
        </article>
    </body>
</html>